@media screen and (max-width: 1250px) {
	.container {
		width: 970px;
	}
}
@media screen and (max-width: 1000px) {
	.container {
		width: 768px;
	}
	#cabecalho {
		padding-left: 15px;
		padding-right: 15px;
	}
	#cabecalho .logo {
		width: 40px;
		background-size: contain;
	}
	#cabecalho .menu li a {
		font-size: 14px;
		padding: 0 7px;
	}
}
@media screen and (max-width: 768px) {
	.container {
		width: 100%;
		padding: 0 10px;
	}
	#cabecalho {
		position: relative;
		background: #fff;
		padding: 0;
	}
	#cabecalho .botao-menu {
		float: right;
		margin: 20px 20px 0 0;
		font-size: 26px;
		border: 1px solid #666;
		border-radius: 5px;
		padding: 5px;
		color: #666;
		width: 39px;
		height: 39px;
		text-align: center;
	}
	body.home #cabecalho.cabecalho-inicial {
		background: #fff;
	}
	#cabecalho .menu {
		float: none;
	}
	#cabecalho .menu li {
		display: block;
	}
	body.home #cabecalho.cabecalho-inicial .menu a {
		margin-top: 0;
	}
	#cabecalho .menu li a,body.home #cabecalho.cabecalho-inicial .menu a {
		color: #666;
	}
	.menu-recolhido.menu {
		display: none;
	}
	.banner-home .overlay, .banner-home .chamada-banner {
		display: none;
	}
	.box-infos .info {
		width: 100%;
	}
}